@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap');

body {
  font-family: 'Livvic', sans-serif;
  line-height: 1.4;
}
.logo {
  width: 96px;
  height: 76px;
}
.heading {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 36px;
  color: #135dbb;
}

.nav_link {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #135dbb;
}
.solution-card {
  width: calc(100% / 3);
  background: #ffffff;
  border-radius: 30px;
  height: 100%;
}
.solution-title {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  height: 50px;
  color: #135dbb;
}
.solution-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  color: #135dbb;
}
.main-button {
  display: flex;
  color: #ff5dc8;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.intro-card {
  display: flex;
}
.intro-title {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;

  color: #135dbb;
}
.intro-content {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #135dbb;
}
.line {
  margin: 30px 0;
  border: 1px solid #135dbb;
}

.footer-title {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;

  color: #135dbb;
}
.footer-desc {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #135dbb;
}

footer {
  padding: 100px 0;
}

@media only screen and (max-width: 640px) {
  .heading {
    font-size: 20px;
    line-height: normal;
  }
  .solution-card {
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .intro-card {
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .intro-card div {
    width: 100%;
    margin-bottom: 20px;
  }
  .intro-card div h3 {
    width: 100%;
  }
  .intro-card div:last-child {
    flex-direction: column;
    width: 100%;
    padding: 0;
    background: unset;
  }
  .intro-title {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;

    color: #135dbb;
  }
  .booking {
    margin-bottom: 300px;
  }
  .blog div:last-child {
    flex-direction: column;
  }
  footer {
    padding: 20px 0;
  }
  footer div:first-child {
    flex-direction: column;
  }
  .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-right {
    flex-direction: column;
  }
  .footer-right,
  .footer-title {
    font-size: 16px;
  }
  .footer-right,
  .footer-desc {
    font-size: 12px;
  }
}

#banner-input {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: all;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.6;
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  z-index: 50;
  background-color: transparent;
  border: 1px solid white;
}
::placeholder {
  color: #135dbb !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #135dbb !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #135dbb !important;
}

#banner-input::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

#banner-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

#banner-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}
.note-text {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  text-transform: capitalize;
  color: #135dbb;
}
.note-list {
  -webkit-transform-origin: top center;
  transform-origin: top center;

  animation: wind 2s ease-out alternate infinite;
  /* box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2); */
}
@keyframes wind {
  0% {
    transform: rotatex(0);
    /* box-shadow: 0 15px 10px -10px #000; */
    /* color: rgba(#eee, 0.6); */
    /* background: #eee; */
  }
  10% {
    transform: rotatex(15deg);
    /* box-shadow: 0 15px 10px -10px lighten(#000, 5%); */
    /* color: rgba(#6d6875, 0.45); */
    /* background: lighten(#2196f3, 3%); */
  }
}

.down {
  animation: bounce-loader 0.6s infinite alternate;
}

@keyframes bounce-loader {
  to {
    opacity: 0.5;
    margin-top: 10px;
  }
}
